[Unit]
Description=SCW fetch ssh keys from metadata
Before=sshd

[Service]
ExecStart=/usr/local/sbin/oc-fetch-ssh-keys
Type=oneshot

[Install]
WantedBy=multi-user.target
