[Unit]
Description=SCW generate machine id
After=oc-sync-kernel-modules.service

[Service]
ExecStart=/usr/local/sbin/oc-gen-machine-id
Type=oneshot

[Install]
WantedBy=multi-user.target
