[Unit]
Description=SCW swapfile
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/oc-swapfile start
ExecStop=-/usr/local/sbin/oc-swapfile stop

[Install]
WantedBy=multi-user.target
