[Unit]
Description=SCW kernel requirements checker
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/scw-check-kernel

[Install]
WantedBy=multi-user.target
