[Unit]
Description=SCW fetch kernel modules from Scaleway mirror
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/local/sbin/scw-sync-kernel-modules
Type=oneshot

[Install]
WantedBy=multi-user.target
