[Unit]
Description=SCW generate machine id
After=scw-sync-kernel-modules.service

[Service]
ExecStart=/usr/local/sbin/scw-gen-machine-id
Type=oneshot

[Install]
WantedBy=multi-user.target
