[Unit]
Description=Generate network configuration
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/scw-generate-net-config

[Install]
WantedBy=network.target
