[Unit]
Description=SCW generate ssh keys on first boot
Before=sshd.service

[Service]
ExecStart=/usr/local/sbin/scw-generate-ssh-keys
Type=oneshot

[Install]
WantedBy=multi-user.target
