[Unit]
Description=SCW Signal state %i
Requires=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/scw-signal-state %i
StandardOutput=journal

[Install]
WantedBy=default.target
