[Unit]
Description=SCW generate ssh keys on first boot
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/scw-generate-ssh-keys

[Install]
WantedBy=default.target
