[Unit]
Description=SCW fetch ssh keys from metadata
Before=sshd.service

[Service]
ExecStart=/usr/local/sbin/scw-fetch-ssh-keys
Type=oneshot

[Install]
WantedBy=multi-user.target
