[Unit]
Description=SCW fetch ssh keys from metadata
Before=sshd.service
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/scw-fetch-ssh-keys

[Install]
WantedBy=default.target
