[Unit]
Description=SCW Signal state %i
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/scw-signal-state %i

[Install]
WantedBy=default.target
